/packages
/bin
/obj
*.usr
Betfred.TechTest.Tests/obj/
Betfred.TechTest.Tests/bin/
Betfred.TechTest/bin/Debug/Betfred.TechTest.vshost.exe.manifest
Betfred.TechTest/obj/Debug/Betfred.TechTest.dll
Betfred.TechTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Betfred.TechTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Betfred.TechTest/obj/
Betfred.TechTest/bin/
